@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}
.container--border-blue {
  border: 1px solid #11c6f3;
  border-radius: 10px;
}

.header {
  background: #051e6e url("../assets/img/backgound-header-resize.jpg") no-repeat center 35%;
  background-size: cover;
  color: white;
  padding-top: 1px;
}
.header__parktronics {
  background: #051e6e url("../assets/img/partronics-slim.jpg") no-repeat center 35%;
  background-size: cover;
}
.header__tel, .header__address {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  text-align: center;
}
.header__tel:hover, .header__address:hover {
  opacity: 0.6;
}
.header__title {
  margin: 10px 0 0 0;
}
.header__nav-menu {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  margin: 10px 0;
}
.header__contact {
  width: 100%;
  justify-content: space-around;
}
.header__brightness {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}
@media (max-width: 760px) {
  .header {
    background-image: url(../assets/img/backgound-header.jpg);
    background-position: center;
    background-size: cover;
  }
  .header__parktronics {
    background-image: url(../assets/img/patronics.jpg);
  }
}
@media (max-width: 450px) {
  .header__contact {
    flex-direction: column;
    justify-content: center;
  }
  .header__tel, .header__address {
    text-align: center;
    margin-bottom: 10px;
  }
}

.flex-menu {
  display: flex;
}
.flex-menu--column {
  flex-direction: column;
}
.flex-menu--center {
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 10px 0;
}
.nav-list__item {
  text-align: center;
  width: 20%;
}
.nav-list__link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  background: rgba(250, 0, 0, 0.692);
  border-radius: 8px;
  transition: 0.3s;
}
.nav-list__link:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.nav-list__active {
  background: gray;
}
@media (max-width: 540px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
  }
  .nav-list__item {
    width: 80%;
    margin: 5px 0;
  }
}

.main {
  min-height: 100vh;
  margin-bottom: 20px;
}

.section {
  padding-bottom: 20px;
}
.section--dark-grey {
  background: rgb(49, 49, 49);
}
.section--white-text {
  color: white;
}
.section__content {
  padding: 15px;
  line-height: 24px;
  font-size: 20px;
}
.section__img-div {
  text-align: center;
}
.section__img {
  width: 400px;
}
@media (max-width: 430px) {
  .section__img {
    width: 270px;
  }
}
.services {
  padding-top: 1px;
  background: rgb(49, 49, 49);
}
.services__item-title {
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 10px 0 80px 0;
}
.services__container {
  display: flex;
  justify-content: space-between;
}
.services__item {
  position: relative;
  text-align: center;
  max-height: 300px;
  width: 280px;
  background: white;
  border-radius: 5px;
}
.services__item-img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}
.services__footer {
  padding: 0 5px;
}
.services__link {
  position: absolute;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(17, 198, 243);
  padding: 5px 20px;
  transition: 0.3s;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__link:hover {
  background: rgb(17, 198, 243);
  border-radius: 5px;
}
@media (max-width: 900px) {
  .services__item {
    width: 250px;
  }
}
@media (max-width: 784px) {
  .services__item {
    width: 500px;
    margin-bottom: 20px;
  }
  .services__item-img {
    height: 200px;
  }
  .services__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 515px) {
  .services__item {
    width: 320px;
    margin-bottom: 20px;
  }
  .services__item-img {
    height: 150px;
  }
  .services__container {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.title::after {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 2px;
  top: 45px;
  left: 0;
}
.title--white {
  color: white;
}

.footer {
  border-top: 1px solid #000;
  padding: 20px 0;
}
.footer__flex-menu {
  justify-content: space-around;
}
.footer__contact {
  font-size: 24px;
  font-weight: bold;
}
.footer__contact-container {
  border: 1px solid #11c6f3;
  padding: 10px;
  align-self: center;
}
@media (max-width: 640px) {
  .footer__flex-menu {
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .footer .map {
    margin-bottom: 30px;
  }
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.social-list__item {
  margin-right: 10px;
}
.social-list__item:last-child {
  margin-right: 0px;
}
.social-list__link {
  display: inline-block;
}
.social-list__link img {
  width: 50px;
  height: 50px;
}

.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  padding: 8px;
  width: 280px;
  text-align: center;
  background-color: rgb(80, 76, 76);
}
.benefits__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.benefits__img {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}
@media (max-width: 910px) {
  .benefits__item {
    width: 230px;
  }
}
@media (max-width: 784px) {
  .benefits__item {
    width: 500px;
    margin: 10px 0;
  }
  .benefits {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 540px) {
  .benefits__item {
    width: 300px;
    margin: 10px 0;
  }
  .benefits {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .benefits__item {
    width: 270px;
    margin: 10px 0;
  }
}

.youtube-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.youtube-content__item {
  margin-right: 20px;
}
.youtube-content__item:last-child {
  margin-right: 0px;
}
@media (max-width: 716px) {
  .youtube-content__item {
    margin: 10px 0;
  }
  .youtube-content {
    flex-direction: column;
  }
}

.iframe-youtube {
  width: 400px;
  height: 200px;
}
@media (max-width: 874px) {
  .iframe-youtube {
    width: 600px;
    height: 300px;
    margin-bottom: 10px;
  }
}
@media (max-width: 650px) {
  .iframe-youtube {
    width: 400px;
  }
}
@media (max-width: 650px) {
  .iframe-youtube {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .iframe-youtube {
    width: 270px;
  }
}

.table-products {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
.table-products tbody {
  width: 100%;
}
.table-products__tr {
  border-bottom: 1px solid black;
}
.table-products__td {
  text-align: center;
}
.table-products__img {
  width: 100px;
  height: 100px;
}
.table-products__post-scriptum {
  margin: 10px 0;
  color: rgba(95, 95, 95, 0.5);
  font-size: 12px;
}
@media (max-width: 400px) {
  .table-products {
    font-size: 16px;
  }
  .table-products__img {
    width: 70px;
    height: 70px;
  }
}

.list-img__item {
  margin-bottom: 30px;
}
.list-img__img {
  width: 300px;
}
@media (max-width: 400px) {
  .list-img__img {
    width: 230px;
  }
}