.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
	padding: 10px 0;

	&__item {
		text-align: center;
		width: 20%;
	}

	&__link {
		color: white;
		text-decoration: none;
		display: block;
		padding: 10px;
		font-size: 18px;
		background: rgba(0, 201, 236, 0);
		border-radius: 15px;
		border-bottom: 1px solid white;
		transition: 0.3s;
		font-weight: 800;

		&:hover:not(.nav-list__active) {
			background-color: rgba(18, 215, 230, 0.466);
			transform: scale(1.05);
			opacity: 0.8;
		}
	}

	&__active {
		background: gray;
	}

	@media (max-width: 540px) {
		& {
			flex-direction: column;
			justify-content: center;
		}

		&__item {
			width: 80%;
			margin: 5px 0;
		}
	}
}