@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	padding: 0;
	margin: 0;
}



body {
	background: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	min-width: 320px;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1000px;
	padding: 0 10px;
	margin: auto;

	&--light-red-bg {
		background: rgba(253, 108, 11, 0.164);
		border-radius: 10px;
	}
	z-index: 2;
}

.main {
	min-height: 100vh;
	margin-bottom: 20px;
}

.map {}


@import "_nav-list.scss";
@import "_benefits.scss";
@import "_flex-menu.scss";
@import "_footer.scss";
@import "_header.scss";
@import "_iframe-youtube.scss";
@import "_list-img.scss";
@import "_section.scss";
@import "_services.scss";
@import "_site-map.scss";
@import "_social-list.scss";
@import "_table-products.scss";
@import "_title.scss";
@import "_youtube-content.scss";
